@font-face {
  font-family: Gotham Pro;
  src: url(./fonts/GothamPro-BoldItalic.eot);
  src: local(./fonts/Gotham Pro/ Bold Italic), local(GothamPro-BoldItalic), url(./fonts/GothamPro-BoldItalic.eot) format(embedded-opentype) url(./fonts/GothamPro-BoldItalic.woff) format(woff), url(./fonts/GothamPro-BoldItalic.ttf) format(truetype);
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: Gotham Pro;
}

image {
  position: relative;
  width: 100%;
  /* for IE 6 */
}

a {
  text-decoration: none;
  color: #000000;
  opacity: 1;
  cursor: pointer;
}

a:hover {
  opacity: 0.6;
}

.header {
  position: flex;
  background: #FFFFFF;
}

.nav {
  width: 100%;
  font-size: 12px;
  line-height: 11px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  color: #000000;
}

.nav__search {
  position: flex;
  width: 150px;
  height: 0px;
  margin: 15px 0 0 0;
  border-bottom: 0.5px solid #000000;
}

.promo {
  display: grid;
  grid-template-columns: repeat(25, 5%);
  grid-template-rows: repeat(25, 5%);
  margin: 40px;
}

.promo__img {
  grid-column: 1 / 21;
  grid-row: 1 / 21;
  width: 100%;
  display: block;
}

.promo__title {
  font-size: 30px;
  line-height: 29px;
  align-items: flex-start;
  text-align: justify;
  text-transform: uppercase;
  color: #FFFFFF;
  grid-column: 2;
  grid-row: 8 / sp;
  cursor: pointer;
}

.promo__link {
  font-size: 12px;
  line-height: 29px;
  align-items: baseline;
  text-align: inherit;
  text-transform: uppercase;
  color: #FFFFFF;
  grid-column: 2/5;
  grid-row: 15;
  cursor: pointer;
}

.promo__link-arrow {
  font-size: 2px;
  line-height: 11px;
}

.products {
  display: flex;
  align-items: center;
  text-align: justify;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  flex-direction: column;
}

.products__title {
  font-size: 22px;
  line-height: 21px;
  cursor: pointer;
}

.products__title:hover {
  opacity: 0.6;
}

.products__list {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}

.item-products {
  cursor: pointer;
  opacity: 1;
}

.item-products:hover {
  opacity: 0.6;
}

.item-products__title {
  font-size: 12px;
  line-height: 11px;
}

.products__price {
  font-size: 14px;
  line-height: 13px;
}

.aside {
  background: #000000;
  color: #FFFFFF;
  margin: 40px;
  display: flex;
}

.aside__preview {
  display: flex;
justify-content: space-between;
display: block;
}