@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro-BoldItalic.eot');
	src: local('./fonts/Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
		url('./fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro-BoldItalic.woff') format('woff'),
		url('./fonts/GothamPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
Gotham Pro